[2014-03-08 18:56] kytrinyx opened #16 "Share test data"
Moved from exercism/exercism.io#1065, reported by @szabgab

-----

It would be nice if we could share test data files. There are a few json files in the Perl 5 exercises. they could be moved to the assignments/shared/exercisename.json
for each exercise.

Then if   assignments/shared/exercisename.json   was also included in the `exercism fetch` then they would be available for the users as well. So

[2014-09-27 18:20] sunzenshen opened #29 "Add support for fetching exercise-agnostic files"
A useful feature would be if `exercism fetch` could also retrieve some common files for a language track.  For example, the [xC track](https://github.com/exercism/xc/) could have a folder containing some common build files used by all the exercises.

When a user opens the "exercism/c" folder, they should see the following contents:
- hamming (the first exercise)
- vendor (this is a folder that con

[2014-10-02 14:50] kytrinyx opened #31 "Deliver a track-level README with onboarding instructions"
@ismaild suggested that we deliver a track-level README at the root of each language track.

This would probably help on so many levels. See https://github.com/exercism/exercism.io/issues/1931 for details.

[2014-10-21 13:18] kytrinyx opened #32 "Expose a list of all existing problems"
This is based on the `metadata/` directory.

See https://github.com/exercism/x-common/pull/31

It would be great to have a list of which languages have implemented which problems.

[2014-10-31 12:21] fluxusfrequency opened #34 "Add callback request to exercism.io upon user fetch"
Notify the exercism.io backend when a user fetches problems, so that we can keep track of fetched but unsubmitted problems.

See https://github.com/exercism/exercism.io/issues/1972.

[2015-01-19 16:40] kytrinyx opened #37 "Return 404 if track doesn't exist for /tracks/:language endpoint"
`curl -v "http://x.exercism.io/tracks/rubby"` returns:

[code]

[2015-01-20 05:46] #37 closed

[2015-02-02 07:07] kytrinyx opened #39 "Add endpoint for problems/:track/:slug/tests"
The endpoint will need to find and load the correct problem based on the track and the slug (check out `test/xapi/problem_test.rb` for how problems get initialized), and then get files for that problem, and find the filename that matches the pattern for test files in that language. It would make sense to expand the functionality of `Problem` (`lib/xapi/problem.rb`, with tests in `test/xapi/problem

[2015-02-02 07:08] kytrinyx opened #40 "Add endpoint for problems/:track/:slug/readme"
The endpoint will need to find and load the correct problem based on the track and the slug (check out `test/xapi/problem_test.rb` for how problems get initialized), and then get the README for that problem. There's a method on problem that returns the README.

The new endpoint should probably go into `lib/app/routes/problems.rb`, which has tests in `test/app/routes/problems_test.rb`.

The tests f

[2015-02-02 07:33] kytrinyx opened #41 "Refactor controller tests to allow fixtures"
Right now all the tests for the endpoints use the real problem sets, which is a bit of a pain since these change all the time, causing the approvals to fail.

That said, when launching a new track, we'll want to have a set of tests we can run through specifically for that track to make sure that we can properly serve the problems and metadata.

[2015-02-28 17:44] kytrinyx commented on #40
Aaaand, fixed by @NCCastillo in #42. Thanks!

[2015-02-28 17:44] #40 closed

[2015-03-05 05:02] kytrinyx commented on #39
Fixed in #43

[2015-03-05 05:02] #39 closed

[2015-04-05 19:18] kytrinyx opened #44 "Allow language-specific README inclusion at the problem level"
We currently have a language-specific inclusion (`SETUP.md`) that will be added to every single README in the track.

As suggested by @pminten in https://github.com/exercism/x-common/pull/67#issuecomment-89819097 we should also have the ability to include language-specific content on a problem-by-problem basis.

[2015-04-05 19:29] etrepum commented on #44
:+1:

[2015-04-18 06:51] canweriotnow opened #45 "Document API/CLI interaction"
Maybe in a wiki?

I might have an edge case in writing an alternate client ([exercism-emacs](https://github.com/canweriotnow/exercism-emacs)), but in moving away from wrapping the CLI in that project to pulling JSON from the API and writing it out to files, I've had to do a lot of bouncing around between Ruby and Go source to figure out what's going on at each step... since there has been discussi

[2015-04-18 07:12] kytrinyx commented on #45
Yeah, I think this would be useful, and I am uniquely situated to write the docs. I could at the very least write a quick list of the endpoints and what they do and why they're so weird (historical artifacts, I swear).

Are you familiar with any of the tools that people tend to mention when API documentation comes up?

http://www.mattsilverman.com/2013/02/tools-to-generate-beautiful-api-documentat

[2015-04-18 08:50] canweriotnow commented on #45
Yeah, I've played with some of the tools mentioned... apiary is neat, but seems like duplication of effort... So far the project I like best is Swagger... I almost used it in a project at work but it didn't quite fit the project, but I have played with it... I'm not sure how well any of the projects document already-existing APIs without a lot of hand-written specification like apiary... refactori

[2015-04-18 08:58] canweriotnow commented on #45
So, as a suggestion to get started, maybe add a wiki to this repo for documentation of the *current* API, historical artifacts and all, as a basis for discussion and future iteration?

[2015-04-18 15:54] kytrinyx commented on #45
Good plan, I'm adding the wiki now.

[2015-04-19 00:21] kytrinyx opened #46 "Serve language-specific documentation"
See https://github.com/exercism/x-common/issues/69

Implementation steps:

- create some simple files in the test fixtures

Suggested files:

`./test/fixtures/problems/fake/docs/`

- `INSTALLATION.md`
- `WORKFLOW.md`
- `HELLO.md`
- `TOOLS.md`
- `RESOURCES.md`

The endpoints should probably go into a new file `lib/app/routes/docs.rb`, and the endpoint would be:

[code]

It would return a JSON objec

[2015-04-19 00:24] kytrinyx commented on #31
Depends on https://github.com/exercism/x-common/issues/69 and https://github.com/exercism/x-api/issues/46

[2015-04-20 15:48] alexgirdler commented on #16
@kytrinyx I created a working example for ruby and will look into updating for other languages, do you mind taking a look at this and giving me any feedback on it?

[Link](https://gist.github.com/alexgirdler/4f9247ec237ae9212830)

[2015-04-21 02:10] kytrinyx commented on #16
I'll take a closer look in a bit (I'm waiting for a meeting to begin).

Take a look at the github.com/exercism/x-common repo where we've started adding shared data, e.g. https://github.com/exercism/x-common/blob/master/bob.json

Instead of serving up the shared content, we've been writing little generators on a problem-by-problem basis in specific languages (Go primarily at the moment), and commit

[2015-04-21 02:20] kytrinyx commented on #16
Ok, people are late :) I guess I'll take a stab at this now.

So... this issue is about a year old, and I failed to update it when the Go track started developing a new approach to these.

We're currently putting shared data in the x-common repo in `$SLUG.json`, so for hamming, it's `hamming.json`: https://github.com/exercism/x-common/blob/master/hamming.json

We only have a handful of these share

[2015-04-22 03:01] tphyahoo commented on #32
Kytrinys's Suggested approach:

1. little ruby script a la #!/usr/bin/env ruby that just figures out how to create the hash, and
2. figure out how to serve this from an api endpoint

We already have language->problem indexing (Config.find... problems)
https://github.com/exercism/x-api/blob/master/lib/app/routes/problems.rb#L9

So, for this, we could just do almost the same thing, but make it probl

[2015-04-22 19:00] alexgirdler commented on #16
Yeah that makes sense. I'll look into it later today and report back.

[2015-04-23 14:33] #32 closed

[2015-04-23 22:58] kytrinyx opened #48 "Expose list of problems that have yet to be ported for a language track"
The [`/problems`](http://x.exercism.io/problems ) endpoint already lists the problems and which languages _have_ implemented them: -- let's add the list of languages that have not implemented them.

In addition, we should add a "todo" key to the language track endpoint itself that lists problems that have yet to be implemented.

If a problem is deprecated or foregone (see the config.json for each

[2015-04-25 22:26] canweriotnow commented on #45
So I'm playing around with [API Blueprint](https://apiblueprint.org/) which seems to be a nice agnostic way of writing Markdown API docs that can then be used for conformance testing with [Dredd::Rack](https://github.com/gonzalo-bulnes/dredd-rack), for example, in the case of Ruby.

If it looks useful I'll throw up a branch or link to some stuff in the wiki. Just mentioning it here in case someone

[2015-04-26 01:50] canweriotnow commented on #45
I just posted my first experiment with API Blueprint to Apiary... @kytrinyx I sent you an 'editor' invite, happy to transfer ownership or whatever, I'm not sure how the permissions etc. work tbh, just signed in on the free plan and started poking.

[2015-04-26 01:59] kytrinyx commented on #45
Cool, I'll poke around with this when I get back from my trip.

[2015-04-27 05:07] canweriotnow commented on #45
@kytrinyx when you get back, maybe we can go over go over which api calls go to x-api and which go to exercism.io, reasons for each, etc... I've got the x-api ones just about fully documented but then a bunch go to the other app, it would help to understand when/where/why things happen.

That said, hope you're having a nice trip :smiley:

[2015-04-27 06:48] kytrinyx commented on #45
My trip has been amazing. I got over 30 PRs to exercism over the course of the conference, and it was really inspiring to be around a bunch of people who are excited about their open source projects, and willing to jump in and figure things out and improve things.

I have a half hour before I need to board the plane. I'll see about making a list of the endpoints and then I can fill things in when

[2015-04-27 07:18] kytrinyx commented on #45
### x-api

x-api is sometimes called directly from the CLI, sometimes the exercism.io calls it to display stuff, and sometimes the CLI calls x-api who calls exercism who calls x-api back... or something. I'll untangle it all when I have a moment. Here's what I have so far:

**Assignments** DEPRECATED

These are called from older versions of the CLI.

`GET /assignments/:track` Returns all the probl

[2015-04-28 01:53] kytrinyx commented on #45
I went through all the CLI commands, and this is what I've got:

=> exercism demo
x-api:  GET /problems/demo?key=USER_KEY

=> exercism tracks
x-api: GET /tracks

=> exercism list TRACK_ID
x-api: GET /tracks/TRACK_ID

=> exercism fetch
(calls x-api, which then calls exercism.io to figure out what the user currently is working on, unless you're fetching a specific problem in a specific track)

x-api

[2015-04-30 04:05] kytrinyx commented on #48
I'm going to be working through this with @jendiamond @kalisafalzone @ashlopez

[2015-05-02 21:56] canweriotnow commented on #45
@kytrinyx that's awesome - I had the x.exercism.io endpoints but hadn't gone into the exercism.io endpoints. I wanted to see if I could get some insight into the reasoning for dividing into x.exercism.io (x-api) and exercism.io (exercsim.io) API hosts/codebases... historical reasons? Deliberate separation of concerns?

If the former, any desire/wish/plan to merge the two into a single API? I'm hap

[2015-05-03 17:01] kytrinyx commented on #45
The separation is kind of deliberate... I like having all the problems live in a completely isolated API, which means that anything that is purely about fetching problems can go to x.exercism.io. The dirty side of the coin is that now anything to do with submitting/knowing what a user has done has to go to the exercism.io API. Maybe one should proxy requests to the other, or a third app should pro

[2015-05-05 02:49] genevievelesperance opened #49 "Rackup warnings"
Probably make the warnings go away.

$ rackup
/Users/genevievelesperance/x-api/lib/xapi/metadata.rb:24: warning: circular argument reference - dir
/Users/genevievelesperance/x-api/lib/xapi/metadata.rb:24: warning: circular argument reference - slugs
/Users/genevievelesperance/x-api/lib/xapi/summary.rb:4: warning: circular argument reference - slug
/Users/genevievelesperance/x-api/lib/xapi/summary.

[2015-05-05 13:53] #49 closed

[2015-05-11 12:20] groyoh commented on #46
This issue should be closed :wink:

[2015-05-11 13:32] kytrinyx commented on #46
Yes, it should :) Thanks!

Also, I need to open one that has to do with figuring out how to serve images.

[2015-05-11 13:32] #46 closed

[2015-05-11 13:36] kytrinyx opened #53 "Figure out how to serve images for language-specific documentation"
The `problems/$LANGUAGE/docs/` directory optionally contains an `img` directory (e.g. https://github.com/exercism/xfsharp/tree/654e63a6b31eac2991b64a181c87974c52852d3e/docs/img). We need to figure out how to serve these as actual images from the API (or, I suppose elsewhere, but the API would be my first choice for the sake of simplicity).

Can we expose the `img/` directories as static in Sinatra

[2015-05-11 14:29] groyoh commented on #53
I assume something like this could work:
[code]
but I don't have much experience about sending images through Sinatra. There might be a better solution.

[2015-05-12 06:09] kytrinyx commented on #53
Oh, right. `send_file`... totally forgot about this. I think this will do nicely.

[2015-05-12 14:42] kytrinyx commented on #53
We would need to handle the 404 case, which would require an explicit else.

Also, I took a closer look at `send_file`, and from the code it looks like it sets the content type based on the filename of the extension, defaulting to `application/octet-stream`, which seems fine.

So that would change the above to something like:

[code]

Or something. Provided that I've got the file path stuff right.

[2015-05-12 14:52] groyoh commented on #53
It looks to me that `send_file` sets content type only if it is not already set. And since the `Core` class sets it to `application/json;charset=utf-8`, it will not change unless you specify it explicitely.

[2015-05-12 14:54] kytrinyx commented on #53
Yeah, I just discovered that. Also, setting the content type to `File.extname` isn't going to work, since there's no content-type `.png`. `File.extname(path).sub('.', '').to_sym` would work, though.

[2015-05-12 14:57] groyoh commented on #53
Using `File.extname` worked for me locally :wink: That's why I wrote it, but maybe we are not using the same versions.

[2015-05-12 15:45] kytrinyx commented on #53
Ah, let me make sure I'm using the most recent version of Sinatra. Probably not, now that I think about it. We just released a new version for the first time in a year, and I probably forgot to upgrade.

[2015-05-14 06:32] KalisaFalzone commented on #48
Thanks for showing us everything last night, Katrina. I learned so much! We are close to completing the todo list for each track (aka #14).

[2015-05-14 13:39] kytrinyx commented on #48
It was great working with you, see you next week.

[2015-05-17 10:41] jendiamond commented on #48
@KalisaFalzone and I worked together to create methods out of our sketch from the other night.

I created a Todo class and renamed and re-factored some of the methods.

-----
### Create Todo class methods to access tracks and slugs

+ slugs are the exercises that are written in each language
+ track are the languages

#### Methods:
=====
##### `get_slugs`
    gets a list of all the unique exercise

[2015-05-17 22:09] kytrinyx commented on #48
The API does not have a command-line, so that method should be omitted.

I'm not sure what this means. Are we comparing, say, Python to Ruby? If so, why? What does that have to do with TODOs?

In Ruby we very rarely use `get_` in names.

How about reversing this? We already have a `Track` object. What if we could ask it what, out of a particular list of slugs, remained to be done?

[2015-05-19 21:26] groyoh commented on #53
Any news on this?

[2015-05-19 23:24] kytrinyx commented on #53
Sorry, I've been swamped and haven't gotten to this yet. I've got some time blocked out to work on exercism tonight and will look at it then.

[2015-05-20 08:01] groyoh commented on #53
No worry! :wink: Just wanted to make sure that this issue does not get lost. Ahah, in the meantime I've been looking a bit at #41 and I might work on it soon. :smile:

[2015-05-20 13:37] kytrinyx commented on #53
Cool! So yes: Sinatra was pinned at an older version. I'm updating that now.

[2015-06-05 01:40] amar47shah commented on #34
Hi, I'm new to the project and eager to work on a feature.

Would this be a good one for me to look at? I also noticed [#29](https://github.com/exercism/x-api/issues/29) and [#44](https://github.com/exercism/x-api/issues/44).

Big fan of exercism. Thanks to the contributors for all your work.

[2015-06-05 02:25] kytrinyx commented on #34
Yes, this would be great!

I've also been thinking of a different approach to this, and would love to have your help thinking through it and figuring out how to best solve it.

The callback approach to exercism is probably the simplest to get working, and it matches the current behaviour, in that there's a bunch of cross-talk between x-api and exercism.io/api in order to figure out what people's s

[2015-06-05 04:53] amar47shah commented on #34
Oh ok, I'm starting to get enough context now to understand the problem. I'll just rephrase everything and see if I can get it right:

In exercism.io's Account -> Exercises front-end view, you can see your "Current" and "Completed" exercises. Exercism.io considers your exercise *current* if it has a submission for that exercise and *complete* if you've chosen "Mark as done" on that exercise throug

[2015-06-05 14:43] kytrinyx commented on #34
Cool, good idea. For the first bit, what exercism.io knows about, you're spot on.

Not really. The CLI can find out what you have on your system, but that might not reflect everything about what you've fetched (multiple computers could come into play). Technically the CLI knows only your API key, and where to talk to, but it's basically stateless.

Correct.

Only if they are "current".

Yeah, the

[2015-06-05 20:11] amar47shah commented on #34
I'm on board with this. If Exercism.io's data is considered authoritative and the x-api problem-state store is just a "follower," then I think the data duplication is not so thorny. Also helps that 1) the problem-states are meant to be transitory, 2) the most important state ("submitted") can be refreshed from authoritative data (iteration count in Exercism.io), and 3) less important data can be a

[2015-06-06 01:47] kytrinyx commented on #34
Haha, yeah, I hate that. I originally did it to get rid of problems from the "pending" view. It's what you get when a back-end developer tries to make UI choices.

I would *love* to have this conversation. I've gotten stuck running in circles in my own thinking, and could definitely use some help moving this piece forward.

Yes, exactly. Get rid of the horrible "pending" pages that just scare peop

[2015-06-06 06:50] amar47shah commented on #34
Wow, I really like the Activity Stream proposed in #1899. It sounds specified enough to begin work. Is it being blocked by anything besides the technical choice of frameworks? I've experimented with Grape and I admire how simple it is. I'm looking at Yaks for the first time and if I understand right, the goal is to make it a breeze to serve up serialized data, which does sound promising for an Act

[2015-06-06 16:57] kytrinyx commented on #34
No, just the technical thing, and the fact that I am trying to do too many things at once. Since I have a pretty demanding day-job, it can be difficult to make my time on exercism count towards bigger efforts.

Yeah, me too! It's pretty terrible.

Totally agree!

Yeah, I think that would be a great start. Once we have that worked out we can put in a couple of hacky patches to make those workflows

[2015-06-16 14:05] amar47shah commented on #34
So, I haven't been able to work on this as much as I wanted to, but I did get some time to think about the exercise workflow. (I'm going to refer to it as the "exercise workflow" because I notice now that "problem" refers to the *problem to be solved* rather than an individual's attempts to solve the problem.)

Here's a really simple diagram that presents how I think exercise states ought to work:

[2015-06-17 03:23] kytrinyx commented on #34
Both the UserExercises and the Submissions have these states, and I'm pretty sure we can get rid of them. We will need to think through the various things they're used for, though, to make sure we have a way of solving the problem we were trying to solve with the given state.

[2015-06-18 13:56] jtigger opened #59 "bin/fetch-configlet fails on syntax error on pre-4.0 bash shells"
[code]

As lovingly detailed [here](http://www.in-ulm.de/~mascheck/various/cmd-subst/), omitting the optional leading paren in a `case` statement within a command substitution — `$( )` — fails to parse in pre-4.0 bash shells.

Despite the fact that Bash 4.0 was released in 2009, stock bash on even the latest OS X is 3.2. :(

This is clearly not a huge deal — the Mac-based contributor can simply fi

[2015-06-19 04:29] jtigger commented on #59
@kytrinyx, time for the magic scripts :) — please replicate across tracks.

[2015-06-19 06:34] kytrinyx commented on #59
@jtigger I'm on it! I have to get home to my personal computer to get access to my collection of shims and tricks, but I'll get this sorted this weekend.

Thanks for the detailed fix!

[2015-06-21 23:09] kytrinyx commented on #59
Fixed!

[2015-06-21 23:09] #59 closed

[2015-06-22 04:09] amar47shah commented on #34
Ok. I'll go through exercism.io and catalogue how UserExercise and Submission states are used.

I'll use this [spreadsheet](https://docs.google.com/spreadsheets/d/1J64yw6UqsmkKHblWxf1Hd2D05fr6y6xchqZ9QLN_l8Y/edit?usp=sharing). For now, it just contains grepped occurrences of "state", some of which are completely irrelevant. I'll go through the matched files and see if I can sum up how the code in

[2015-06-22 14:40] kytrinyx commented on #34
I think that sounds like an excellent plan.

[2015-06-26 16:39] Tonkpils opened #61 "Demo route returns Internal Server Error"
A bug was filed https://github.com/exercism/cli/issues/198 it seems to be an issue with the `/problems/demo` route but I don't have access to enough information to keep debugging.

[2015-06-26 17:56] Leandros commented on #61
:+1:

[2015-06-26 18:47] kytrinyx commented on #61
Indeed! Wow, no good at all. I'll take a look at as soon as I get home from work.

[2015-06-27 01:38] #61 closed

[2015-07-02 20:29] kytrinyx commented on #53
I talked to @canweriotnow - and he suggested that we should base64encode the images, which I think is the right move.

[2015-07-06 17:41] jcbwlkr opened #63 "Internal Server Error when fetching Go track"
When I try to fetch the Go track I get an internal server error. I can fetch other tracks and friends of mine can fetch the Go track. Command output:

    ~/exercism ᐳ exercism fetch go
    2015/07/06 12:33:46 an internal server error was received.
    Please file a bug report with the contents of 'exercism debug' at: https://github.com/exercism/x-api/issues
    ~/exercism 1 ᐳ exercism debug

[2015-07-06 17:53] kytrinyx commented on #63
Oooh. The error handling problem is new as of yesterday. I'm in a meeting but will look into this as soon as I'm out.

[2015-07-07 04:32] kytrinyx commented on #63
OK, it turns out that the API is not dealing with the binary data in the file. Up until now all the files have been utf-8 encoded, and it hasn't been necessary to handle anything more complex. We're going to need to base64 encode the files, I think; but this will require a change to the CLI as well.

For now I've simply redeployed the API without the error-handling problem.

I'm leaving this issue

[2015-07-19 21:12] amar47shah commented on #34
Just checking back in on this.

I went through exercism.io and took down some information on any direct references of the UserExercise and Submission state attributes. The first page in this [spreadsheet](https://docs.google.com/spreadsheets/d/1J64yw6UqsmkKHblWxf1Hd2D05fr6y6xchqZ9QLN_l8Y/edit?usp=sharing) is a list of classes with methods that access this data, with information about where those m

[2015-07-20 02:39] kytrinyx commented on #34
This is fantastic!

This is a view file in the API. It gets called from the CLI.

That sounds excellent. Thanks so much for combing through all of this!

[2015-07-22 17:50] kytrinyx opened #64 "base encode file contents"
See https://github.com/exercism/x-api/issues/63

This is going to be a bit complicated.

- We need to rewrite part of the CLI to handle the encoded files.
- We should serve both the new and the old versions, so that old versions of the  CLI will still work.
- If a problem has files with invalid utf-8 characters, then we should not serve it un-encoded, and rather serve up a single "readme" that say

[2015-07-22 17:50] kytrinyx commented on #63
I put in a workaround for this so that the go track is fetchable. See https://github.com/exercism/x-api/issues/64

[2015-07-22 17:50] #63 closed

[2015-07-22 18:06] kytrinyx opened #65 "Add "about language" documentation"
See https://github.com/exercism/exercism.io/issues/2299#issuecomment-123798119
/cc @mixolidia @sguermond

Each language track should optionally contain a file `docs/ABOUT.md`, which can contain the short intro to the language.

This might be enough to return an "about" key from the endpoint defined in `lib/app/routes/docs.rb`: http://x.exercism.io/docs/ruby

To do this, we'll need to add an `ABOUT

[2015-08-09 17:39] mscottreed opened #67 "an internal server error was received"
C:\Exercism\python>exercism submit luhn\luhn.py

Submitted Luhn in Python.
Your submission can be found online at http://exercism.io/submissions/9a010455bf
5444298d3c1102bab4670c

To get the next exercise, run "exercism fetch" again.

C:\Exercism\python>exercism fetch

Not Submitted:                  26 problems
clojure (Bob)                   C:\Exercism\clojure\bob
coffeescript (Hello World)

[2015-08-09 17:44] kytrinyx commented on #67
Thanks for reporting this, I'll look into it today.

[2015-08-09 20:51] kytrinyx commented on #67
You mentioned (privately) that explicitly fetching the next exercise worked. After that happened, were you still getting the error if you say `exercism fetch`? How about if you just said `exercism fetch python`?

I fixed a problem in the API today that may have been causing this error (there was a problem with an incorrect symlink in one of the other tracks. This would have affected the `exercism

[2015-08-14 15:29] mscottreed commented on #67
Yes, exercism fetch python worked/works.  So you probably nailed it.

Thanks again

From: Katrina Owen [mailto:notifications@github.com]
Sent: Sunday, August 9, 2015 1:51 PM
To: exercism/x-api <x-api@noreply.github.com>
Cc: mscottreed <scott@brainhzsoftware.com>
Subject: Re: [x-api] an internal server error was received (#67)

You mentioned (privately) that explicitly fetching the next exercise wo

[2015-08-15 09:22] #67 closed

[2015-08-16 19:26] kytrinyx opened #68 "Add support for a track-level bin directory"
... or something like that, anyway.

https://github.com/exercism/xlfe/issues/2#issuecomment-127135110

[2015-09-09 17:55] mixolidia commented on #65
Thanks!

[2015-09-10 14:36] amar47shah commented on #34
Just saw the conversation and merged PR here: https://github.com/exercism/exercism.io/pull/2505

It looks like the [spreadsheet](https://docs.google.com/spreadsheets/d/1J64yw6UqsmkKHblWxf1Hd2D05fr6y6xchqZ9QLN_l8Y/edit?usp=sharing) might not be needed after all?

[2015-09-10 16:34] kytrinyx commented on #34
Hey! Yes. So sorry about not communicating this new thing where I started removing states.

Some of this is still relevant, but it's going to be a lot simpler. The diagram is essentially the same, but without the states over on the right-hand side.

Instead of "completed" we have "archived", and submitting a new solution to an archived problem doesn't automatically reactivate it. Same with submitt

[2015-09-10 17:45] amar47shah commented on #34
Simpler sounds better!

To tell you the truth, I'm completely spreadsheeted (spreadshot?) out. I had this idea that I would work on this document for a couple hours every week for a few months, and then I'd make a big UMLish map and then we'd decide what to do next. How enterprising of me.

I'd love to find a subtask of the [WIP](https://github.com/exercism/exercism.io/pull/2505) that I can jump i

[2015-09-10 17:49] kytrinyx commented on #34
Yes! Let's approach this in a much more experimental way.

How about storing the "fetch" state for a user?

We could add a timestamp field to the user_exercises table (e.g. `fetched_at`) which we would write to the very first time they fetch the exercise.

That way we have a canonical source of truth for that data. Then, on the user's dashboard we could show a list of exercises they've fetched but

[2015-09-10 18:27] amar47shah commented on #34
Great! This sounds like an Exercism.io-only project, correct? That's good, because I now have a ton of familiarity with that app.

I'll get started today if possible and I'll plan on getting a PR in the next week or so.

[2015-09-10 18:36] kytrinyx commented on #34
It's mostly in exercism--there might be a piece in x-api to call to exercism to say that it is fetching and what it's fetching, but x-api is a MUCH more understandable codebase (and quite small).

Please do ask questions if there's anything you are wondering about along the way!

[2015-09-14 01:21] amar47shah commented on #34
Thanks, @kytrinyx. I do have a few questions.

I notice that in the current behavior, a UserExercise isn't created in Exercism.io until the first Submission is posted for this problem, via `Attempt#save` and `Hack::UpdatesUserExercise#update`. At that time, the new UserExercise is given a `created_at` to match the first submission's `created_at`.

Do we really need a `fetched_at` field? If we modi

[2015-09-14 02:04] kytrinyx commented on #34
If you skip a problem, then a UserExercise is also created. I do think that it would be best to have an explicit timestamp for the value that we are looking for rather than having an implicit value.

I think that the x-api should tell the exercism API that the exercise was fetched, rather than trying to create a user exercise. That seems like an implementation detail that the x-api shouldn't have

[2015-09-14 04:53] amar47shah commented on #34
We already have `POST /iterations/:language/:slug/skip?key=KEY` so we could also have `POST /iterations/:language/:slug/fetch?key=KEY`. It makes sense to put these two routes together, since they both create UserExercises. IMO they should both start with 'exercises' instead of 'iterations'.

[2015-09-14 15:14] kytrinyx commented on #34
Yes, agreed, they should go together. I'm trying to figure out what the domain concepts should be named: https://github.com/exercism/exercism.io/issues/2532

[2015-09-16 16:25] amar47shah commented on #34
Hi @kytrinyx,

I've done some thinking about how to implement the callback on the Xapi side. I probably won't have time to dig in again until the weekend. I may ping you with questions about VCR tests.

I've been thinking of decoupling `Homework` and `Progression` and letting them interact in the route instead of directly. I noticed this comment at the top of `Homework`: `# Homework gets all of a

[2015-09-16 16:50] kytrinyx commented on #34
It might be. Right now I think Progression doesn't call out to anything, right? Here's what I'd like to do: Separate the HTTP call to the other service completely from all the logic. That way logic can be tested completely stand-alone, without having to do VCR stubs.

It's been a while since I thought about how x-api is (or should be) arranged. I'm pretty sure the current way things are split up i

[2015-09-17 00:40] amar47shah commented on #34
As far as I understand, this has already been done. Homework doesn't access Exercism's API directly; it does so through a wrapper class called `ExercismIO`. The tests for ExercismIO require VCR, but Homework's tests just stub the `data` returned by the HTTP wrapper class.

That's right.

I ask about VCR because I need to make a change to `ExercismIO`, so I'll need a test for it: I have to add a me

[2015-09-17 02:29] kytrinyx commented on #34
I'm afraid I don't understand diagrams too well.

Homework does a call over HTTP, because ExercismIO does. Progression is just given data, and then does some cheap computation, and then it returns an answer.

You're suggesting that Progression also rely on ExercismIO, right? I really don't want to do that, because a progression only decides what the next exercise is. It shouldn't have anything to

[2015-09-17 03:38] amar47shah commented on #34
Ok, I'll leave it that way. Sorry that the diagram was confusing.

I'm not sure what you mean. Only ExercismIO needs VCR stubs for testing. Homework and Progression don't, as long as they use ExercismIO.

There may be a better way to resolve the problem I'm reacting to, so let me just try to state it. IMO, it's not clear what the separate responsibilities are of Homework and Progression. The comme

[2015-09-17 17:27] kytrinyx commented on #34
Anything that uses ExercismIO will need to stub values during tests. I'm actually talking about in general, though, not in terms of testing. If possible, I prefer to arrange things so that any logic can be done by just passing the data you need, not by having the class itself make a call over HTTP in order to get the data.

I agree that Homework isn't well-defined, but progression is very well def

[2015-09-18 02:27] amar47shah commented on #34
Thanks, @kytrinyx. That all makes sense.

I'll try first off by putting the call to ExercismIO's new method in Homework, and then once that's working, I'll try inlining Homework and looking for another abstraction. Should have some time in the next couple of days to get started.

[2015-09-18 17:04] kytrinyx commented on #34
Awesome. Let me know if you have any questions along the way.

[2015-09-20 01:01] amar47shah commented on #34
Thanks. I'm almost finished with this, but my changes have broken the corresponding acceptance tests (output below). The `*.received.*` files don't look right, so I haven't approved them; apparently I'm getting 500 errors from the rack-test requests.

I've wrestled with this all day and I'm feeling completely stuck. Would you mind looking through my [changes](https://github.com/exercism/x-api/comp

[2015-09-20 02:44] kytrinyx commented on #34
Sure, I'll pull it down tomorrow and take a look.

[2015-09-20 03:05] amar47shah commented on #34
Thanks!!

[2015-09-21 01:11] kytrinyx commented on #34
I've made a change on master that will show the actual error and a stacktrace, instead of just the "something went wrong" message, when you get an approval failure. If you rebase onto the upstream master, you should see the real issue.

[2015-09-21 02:46] amar47shah commented on #34
Thanks, @kytrinyx. That helped a lot. The error I received indicated that I needed to delete and re-record the VCR cassettes, because they did not recognize the post to the new fetch route. However, I think the acceptance tests are still not succeeding because my local Exercism.io server doesn't have data for "fruit/apple" and "animal/dog". Should I edit the xapi:seed rake task on Exercism?

Here

[2015-09-21 15:57] kytrinyx commented on #34
I'm not actually sure! Let me take a look at the seed stuff later today and get back to you.

[2015-09-21 17:08] kytrinyx commented on #34
I think what's going on here is that the exercism API is calling back to the x-api endpoints which are running with the real data, not the fixture data. What happens if you run the x-api server with RACK_ENV=test?

[2015-09-21 17:17] kytrinyx commented on #34
OK, I've updated the xapi:seed rake task on master in exercism/exercism.io, and I've updated the cassettes on x-api on master.

If you rebase, then at least the data that you get will be targeted at only the changes you have made.

[2015-09-21 19:28] amar47shah commented on #34
Ok, I'll rebase and try again. If that doesn't work, I will try running x-api in test mode. Thanks!

[2015-09-21 19:58] kytrinyx commented on #34
I suspect that running in test mode won't work, but it's definitely one thing to try.

[2015-09-21 20:07] amar47shah commented on #34
Test and development both seemed to work the same. Two of the new approvals looked good, but I still have an unrecognized problem: `fake/two`

[code]

And also:
[code]

[2015-09-21 20:51] amar47shah commented on #34
Running x-api in test mode did the trick, but I also had to use the `record: :new_episodes` [option for VCR](https://www.relishapp.com/vcr/vcr/v/2-9-3/docs/record-modes/new-episodes).

Submitting PR. Thanks for helping so much with this!

[2015-09-21 21:07] kytrinyx commented on #34
`:new_episodes` re-records every time, right? Why does it need that?

[2015-09-21 21:20] kytrinyx commented on #34
OK, I pulled down your branch and ran the tests without having exercism and x-api running, and the tests all pass, so `:new_episodes` doesn't record every time. I don't understand what `:new_episodes` gives you.

[2015-09-22 02:02] amar47shah commented on #34
[`:new_episodes`](https://www.relishapp.com/vcr/vcr/v/2-9-3/docs/record-modes/new-episodes) replays previously recorded interactions, but records unrecognized interactions.

Two pairs of acceptance tests were failing for me, and each pair shares one VCR cassette. By deleting the two cassettes, I got the first test in each pair to record a new cassette and produce an acceptable `*.received.*`. Howe

[2015-09-22 15:14] kytrinyx commented on #34
Aaaah, OK, that makes sense. For some reason I thought `:new_episodes` was a configuration option at the individual test level, not globally.

Thanks for figuring this out!

[2015-09-22 16:58] amar47shah commented on #34
We're using `:new_episodes

[2015-09-22 17:01] amar47shah commented on #34
Just to clarify: We're using `:new_episodes` only on two individual tests, not globally.

Thanks for being so patient with all the questions for this feature. I really enjoy contributing to Exercism. :) Ready to close the issue?

[2015-09-22 18:55] kytrinyx commented on #34
Yepp, we're all good here. Thanks!

[2015-09-22 18:55] #34 closed

[2015-10-07 14:58] alex-bender opened #71 "Internal server error during fetch language which does not exist"
[code]

[2015-10-07 19:07] kytrinyx commented on #71
We can definitely do better with that error! Thanks.

[2015-10-07 19:47] kytrinyx commented on #71
Deploying a fix now.

[2015-10-07 19:48] #65 closed

[2015-10-08 09:41] alex-bender commented on #71
Thanks

[2015-10-08 12:01] alex-bender commented on #71
Seems that error still exists. But in other manner:
[code]
btw, how can I fetch problems for `C`?

[2015-10-08 16:48] kytrinyx commented on #71
C isn't an active track yet, but it's possible to fetch individual exercises for tracks that haven't been launched yet.

Thanks for uncovering these bugs, btw! These are things that we didn't have tests for.

[2015-10-08 16:50] kytrinyx commented on #71
Hm. The issue in the C track is non-utf-8 characters in one of the problems.

[2015-10-08 16:55] kytrinyx commented on #71
OK, I've narrowed the problem down and we will fix it in the C repo https://github.com/exercism/xc/issues/16

I'm going to close this again, but if you see any other weird errors, please holler!

[2015-10-08 16:55] #71 closed

[2015-10-09 17:16] alex-bender commented on #71
I will.

[2015-10-09 18:20] kytrinyx commented on #71
This should be fixed, btw. It might now be possible to get results with `exercism fetch c`.

[2015-10-12 10:12] alex-bender commented on #71
Thanks, it is works.

[2015-11-16 20:28] kytrinyx opened #74 "Clarify domain concepts throughout the codebase"
Here's what we settled on:

- **Track** -  track is in a language (e.g. C++) and has an ID (e.g. `cpp`)
- **Problem** - a generic description of a problem to be solved, can be implemented in any language
- **Implementation** - a language-specific implementation of a problem.

In addition to this, we may mention the following:
- **Solution** - an author's worked answer to an exercise. It may have 1

[2015-11-16 20:44] kytrinyx opened #75 "Implement v3 of the API"
I've moved the Sinatra app into `v1.rb` with related code in `v1/`.

It's time to implement a second version of the API, which can be a bit cleaner with respect to terminology and payloads. Also, this version of the API will not know anything about authenticating users (exercism API keys). The endpoints are all going to be public.

We will be implementing a new API that for now will run on exercis

[2015-11-18 20:03] kytrinyx commented on #48
This was completed.

[2015-11-18 20:03] #48 closed

[2015-11-18 20:04] kytrinyx opened #76 "Expose list of "todos" in problems/:slug endpoint"
We've done a list of todos per language (/tracks/:id), but it would be useful to have the inverse, as well.

[2015-11-22 10:03] GustavoCaso commented on #75
@kytrinyx Is anyone helping you with this task ??

[2015-11-22 14:32] kytrinyx commented on #53
@GustavoCaso are you still looking for issues to work on? If so, would this one be interesting to you? Getting this fixed would unlock a whole bunch of other issues that could be fixed (in particular, some interesting improvements to the languages pages on the site).

[2015-11-22 14:33] kytrinyx commented on #75
Not yet, would you be interested in helping out?

[2015-11-22 16:46] GustavoCaso commented on #75
Of course @kytrinyx I'll very happy helping out with this one. Don't hesitate of including me in any issue you want to solve.

[2015-11-22 16:47] GustavoCaso commented on #53
Sure @kytrinyx I will have a look at this one

[2015-11-22 17:57] kytrinyx commented on #75
Excellent! I'm doing an experiment right now with one of the places that will consume the new API, and will know more later today.

[2015-11-22 17:58] GustavoCaso commented on #75
Great @kytrinyx I will wait for your response I the mind time I will continue working on the other issues

[2015-11-23 03:02] kytrinyx commented on #75
OK, my experiment basically showed me I need to try something else. I'll update you when I know more.

[2015-11-23 09:35] GustavoCaso commented on #75
@kytrinyx Sorry to hear. If there anything I can do to help let me know.

[2015-11-23 16:48] kytrinyx commented on #75
I did a new experiment this morning, and I've figured out a way forward. I should have a proper update later today with an actual plan for moving forward.

[2015-11-23 16:51] GustavoCaso commented on #75
Great to hear @kytrinyx I will wait for the plan

[2015-11-23 18:31] kytrinyx commented on #75
OK, I've pushed up a commit that has a new `v3.rb` file and a `v3/` directory where the new API lives. I've implemented `/tracks` and `/tracks/:id`.

I'm working on re-implementing the `languages/:id` endpoint to use the new API over in the exercism.io repository.

The plan is to slowly re-implement any of the endpoints in exercism.io that call the x-api, cleaning up the codebase as we go.

A simp

[2015-11-23 18:35] GustavoCaso commented on #75
sure @kytrinyx I'll be happy to take it

[2015-11-23 18:40] kytrinyx commented on #75
For now just implement the endpoint here in x-api... I'll give you a heads up once some of the refactorings in the exercism.io codebase have started (should be later today).

[2015-11-23 18:51] GustavoCaso commented on #75
Ok sure no problem. Thanks

[2015-11-25 07:38] GustavoCaso commented on #53
@kytrinyx Do you want another endpoint for this case ?? Is for `v1` or `v3, ` could we use the `Xapi::Doc` to handle the looking for images? I guess that you want just one endpoint for all tracks related stuff isn't it

[2015-11-25 15:04] kytrinyx commented on #53
I'd like another endpoint for this, yes, in `v3`.

I'm thinking:

[code]

I'm not sure what you mean.

[2015-11-25 15:15] GustavoCaso commented on #53
I mean that all the information of the tracks page is done by just one endpoint

[2015-11-25 15:20] kytrinyx commented on #53
Oh, right. Yes, in a sense--but the images are going to be referenced as URLs, so the browser will go get them. It's fine to make this a separate endpoint.

[2015-11-25 15:24] GustavoCaso commented on #53
Great I see. Well when I get home I will work on this one and keep updating the `docs`if there are other endpoint that you want me to help you just let me know. :smile:

[2015-11-25 15:28] kytrinyx commented on #53
Awesome! Today I have much more time on my hands, so I will make a bunch of progress on the docs. Yesterday I had meetings back to back almost the whole day.

[2015-11-25 15:36] GustavoCaso commented on #53
Great to hear that. Yes I know that feeling :bookmark_tabs:

[2015-11-26 00:06] kytrinyx commented on #75
@GustavoCaso once you've finished what you're working on, do you want to take a stab at implementing `GET /tracks/:id/tests`?

It should include any of the files that match the `test_pattern` in the language's config. I think we might currently have a bug and it only grabs the last one that matches the pattern.

What we should have is a hash of content (like we do with docs: `{ filename1 => conten

[2015-11-26 00:15] GustavoCaso commented on #75
@kytrinyx Sure no problem. Sounds great thing. I hope to finish with the one related to image quickly.

[2015-11-26 00:16] GustavoCaso commented on #53
@kytrinyx I wanted to ask you we actually want to show a link to the image that when the user clicks it, it download it or   want to show the image in the actual language page ?

[2015-11-26 00:47] GustavoCaso commented on #53
Sorry if I make so many questions @kytrinyx

[2015-11-26 10:10] behrtam commented on #76
The `todo` endpoint contains exercises that are marked as "deprecated" or "foregone" in the `config.json`.

[2015-11-26 14:56] kytrinyx commented on #76
Ah, yepp. You're right, we need to filter those out.

[2015-11-26 15:07] kytrinyx commented on #53
I want to show the actual image in the page.

[2015-11-26 15:12] GustavoCaso commented on #53
ok @kytrinyx sounds great.

[2015-11-27 15:10] kytrinyx opened #79 "Handle org-mode for docs (see tracks/elisp/docs)"
The emacs lisp track is using orgmode for the docs, and I imagine that the other lisp-y tracks will probably follow suit.

We'll need to handle either `.org` or `.md` files in the Docs (`lib/xapi/tracks/docs.rb`), and if it's `.org`, we'll need to use https://github.com/wallyqs/org-ruby to translate it to markdown.

[2015-11-27 21:12] kytrinyx commented on #79
Fixed in aa23f5ffd9150c6d07175ef6fe1f50ed5c61b824

[2015-11-27 21:12] #79 closed

[2015-12-01 18:17] gytdau opened #82 "Skeleton files should be included in all problems to make it easier"
I'm on the Python section, and I've found that only a few challenges include a skeleton file. This is helpful, since you can then start coding without the delay of creating your own file. Example: the Bob challenge comes with bob.py:
[code]

It'd be great if a skeleton file like this was included in all of the challenges, to make things just a little bit easier for everyone.

[2015-12-01 18:19] gytdau commented on #82
On further inspection, this is completely the wrong repo to add an issue to. Sorry about that - I've added this issue to the correct repository.

[2015-12-01 18:19] #82 closed

[2015-12-01 20:50] kytrinyx commented on #82
Thanks!

[2015-12-01 21:32] #53 closed

[2015-12-01 21:34] kytrinyx commented on #44
I'm suggesting `HINTS.md` for this file.

The work to implement it would be:

1. Read a `HINTS.md` file and include it into the README.
1. Ignore errors if the file is missing.
1. Filter out the `HINTS.md` file when serving the exercise.

[2015-12-01 21:45] kytrinyx opened #83 "Add the metadata "blurb" to the v3 readme and tests endpoints."
We basically want the full metadata with just the additional files (tests or readme) in this endpoint.

[2015-12-01 22:01] kytrinyx opened #84 "Accept multiple tracks as parameters to the "fetch" endpoint."
Right now we have `/v2/exercises` and `/v2/exercises/:track_id`. Let's tweak the `/v2/exercises` to take an optional parameter `?tracks=a,b,c` and if that parameter is passed, only return the data for those tracks.

[2015-12-02 07:47] nebkor commented on #44
This is possibly related to something I'm interested in: dynamic content in the problem READMEs regarding the exact command to execute to run the tests.  Since each problem already knows the names of its test files, all we'd need is for the README generator to know about a track-specific command for test running (eg, with Racket, the command is "raco test").

[2015-12-02 15:35] xakon opened #86 "Failed to run the "demo" project"
Running:

[code]

(even with the `--verbose` flag), fails with a message to file a bug report.

[2015-12-02 19:34] kytrinyx commented on #44
Yepp, this would be great.

The simplest thing would be to use this to hand-code the correct command in the `HINTS.md` file.

Another approach would be to have something in `config.json` that has the test command with a placeholder, and then the generator would need to know how to replace that placeholder. I like that a bit better.

Sometimes the command might not include a path name, other times

[2015-12-02 19:49] kytrinyx commented on #86
Yes, we removed demo. I thought we had a proper error message on that, but we had a typo in the deprecated endpoint, so it blew up. Fixing that now, sorry about the confusion!

[2015-12-02 19:49] #86 closed

[2015-12-02 19:51] nebkor commented on #44
Having a test command and place-holder in the config.json or similar is what I was thinking of.  I'll try to get something together that does a thing, with sane fallback defaults, and non-breaking migration path (opt-in for track owners).

[2015-12-02 19:53] kytrinyx commented on #44
Before we start down that path, would you mind checking the various languages we have in place to see if there are any really surprising outliers? The language track pages on the site should give the test command under "running the tests" http://exercism.io/languages/clojure

[2015-12-03 19:52] kytrinyx opened #88 "Filter out foregone/deprecated problems in "todo" lists"
The "todo" key gives us a list of exercises that have not yet been implemented in the given track.

The bug is in the `todo` method in `lib/xapi/track.rb`. Since this class is already reading the config, it should be an easy fix to exclude the deprecated and foregon exercises.

[2015-12-03 20:09] kytrinyx commented on #84
Reserved by @ben-biddington

[2015-12-04 07:58] ben-biddington commented on #84
Apologies for the donut question, but I am getting approval errors like:

[code]
[code]

Any ideas?

I have these versions:

[code]
[code]
[code]
[code]

[2015-12-04 08:14] GustavoCaso commented on #64
@kytrinyx is anyone working on this one, if not I'll grab this one

[2015-12-04 21:35] kytrinyx commented on #64
Rather than base64 encoding the contents, I think we should zip it all up, per the discussion in #75 (see: **Content-Type: application/octet-stream**).

Thoughts?

[2015-12-04 21:51] kytrinyx commented on #84
Weird. I wonder if something was sorting implicitly, and needs to be explicit?

[2015-12-06 09:19] GustavoCaso commented on #64
@kytrinyx sound great about zip it and serving. If everything ok I can start with this one

[2015-12-06 16:19] kytrinyx commented on #64
Yeah, definitely! Thank you.

[2015-12-07 22:06] ben-biddington commented on #84
Tis, when I run [this](https://github.com/ben-biddington/x-api/blob/%2384/test/v1/routes/tracks_test.rb#L34) (line 37 has diagnostic output) locally I get:
[code]

But [in CI](https://travis-ci.org/ben-biddington/x-api/builds/95448519#L549):

[code]

Have tried aligning exact versions of rubygems and bundler, still no good.

[2015-12-07 22:24] kytrinyx commented on #84
How about sorting the "todo" key in the response body of the request (or earlier, for that matter) so that we don't rely on implicit behavior?

[2015-12-07 22:44] ben-biddington commented on #84
Could do -- I just wonder what makes it differ

[2015-12-07 22:52] kytrinyx commented on #84
My guess is that it has to do with the order of directories when reading them off the filesystem. That's usually what has me running into weird issues on different platforms.

[2015-12-07 22:55] ben-biddington commented on #84
Ooh yes! One sec

[2015-12-07 23:04] ben-biddington commented on #84
Looks like that's it. Below is output from `Dir["#{dir}/*.yml"]`

local:

[code]
CI:

[code]

Will submit change

[2015-12-07 23:08] ben-biddington commented on #84
:green_apple: All green after #89

[2015-12-07 23:32] ben-biddington commented on #84
@kytrinyx, did you mean to update API v2 or add this to API v3?

[2015-12-08 18:59] kytrinyx commented on #84
I meant to update API v2--we're going to tackle v3 a bit differently.

[2015-12-08 21:36] GustavoCaso commented on #64
@kytrinyx You want to download the zip file when hitting this endpoint ?

[2015-12-08 21:41] GustavoCaso commented on #64
@kytrinyx just an opinion. Should be the content-type `application/zip` ?

[2015-12-08 22:17] ben-biddington commented on #45
@canweriotnow there is also [gauge](http://getgauge.io/)

[2015-12-09 19:57] kytrinyx commented on #64
Probably. I didn't do my homework on this one. Would you mind taking a look to see if you can find a good reference that says which it should be?

[2015-12-21 22:03] GustavoCaso commented on #83
@kytrinyx I think we can close this one as well.

[2015-12-22 00:53] kytrinyx commented on #83
Yay. Thanks for catching all of these.

[2015-12-22 00:53] #83 closed

[2015-12-28 09:19] groyoh commented on #88
@kytrinyx I think this issue was resolved by #91

[2015-12-29 00:55] kytrinyx commented on #88
Yepp, good catch. Thanks.

[2015-12-29 00:55] #88 closed

[2016-01-04 06:12] abhishekbose87 commented on #44
@nebkor Have you started work on this ? If not I would like to take a shot at it.

[2016-01-04 18:03] nebkor commented on #44
I've not had time to put to this at all, so go for it!

[2016-01-06 10:18] abhishekbose87 commented on #44
:+1:

[2016-01-10 20:10] #44 closed

[2016-01-15 16:39] kytrinyx opened #94 "Implement a more fleshed out "todo""
I think it would be useful to implement `/v3/tracks/:id/todo`.

This would have a list of problems that have not been implemented in that language track. For each problem, include:
- the list of languages that have implemented it, with a link to that exercise in their repository (to make it easy to go look at their implementation / test suites).
- the contents of the `:slug.md`, `:slug.yml`, and `

[2016-01-21 19:45] kytrinyx opened #95 "Expose "test pattern" from config in track data"
We use the `test_pattern` to figure out which file has the test suite in it, in order to show it on the `exercises/:track_id/:slug/test-suite` page. E.g. http://exercism.io/exercises/javascript/leap/test-suite

The CLI also needs to have this data in order to be able to warn the user against submitting the tests instead of the solution.

Many languages use `/test/i` somewhere in the filename for t

[2016-02-01 22:32] GustavoCaso commented on #64
@kytrinyx Are we going to continue with this one ??

[2016-02-02 18:19] kytrinyx commented on #64
Zipping was implemented, right?

[2016-02-02 21:09] kytrinyx commented on #68
I just realized that this is a duplicate of #29

[2016-02-02 21:09] #68 closed

[2016-02-02 21:42] GustavoCaso commented on #64
@kytrinyx yes it was implemeted

[2016-02-02 22:09] kytrinyx commented on #64
Yeah, then this is done. Thanks!

[2016-02-02 22:09] #64 closed

[2016-02-03 07:58] ErikSchierboom commented on #29
So the idea is that there is a separate vendor folder that gets included? That will be very useful. However, I'd also really like there to be a possibility to include files in the root, which is where build files (which can be used to execute all tests) are usually located.

[2016-02-04 21:39] kytrinyx commented on #29
Yeah, maybe there could be a way to specify in the config which files and/or directories would be included in this.

[2016-02-19 01:07] bmulvihill commented on #94
@kytrinyx how does one determine all the available problems?  Does that come from x-common?

[2016-02-21 19:40] kytrinyx commented on #94
Yeah, x-common has a total list of problems. We should probably do something to list deprecated problems (at the moment I think that's beer-song and point-mutations, there might be more).

[2016-02-21 21:22] kytrinyx opened #96 "Expose list of unimplemented json files with shared inputs/outputs"
For each problem that is missing a json file with shared inputs and outputs, the endpoint should also include a link to the directory of the exercise in each repository of the tracks that implement the problem.

We want to make it as easy as possible for people to contribute a new shared json file.

This is related to the goal of increasing consistency between language tracks. For tracks where the

[2016-02-24 18:37] ErikSchierboom commented on #29
I really like the option to allow us to specify the files to include in the config file.

[2016-03-28 22:07] kytrinyx commented on #76
The deprecated/foregone problems are filtered out as of 83cc2193012cf30a0c9ef8fafc3f04d5d8b33a85

We still need to add the todos in the problem, though.

[2016-03-28 22:07] kytrinyx commented on #94
Fixed in #98

[2016-03-28 22:07] #94 closed

[2016-04-13 18:20] IanWhitney commented on #76
@kytrinyx Maybe I'm mis-reading this issue, but I'm still seeing a deprecated problem here

http://x.exercism.io/tracks/rust

My understanding is that [Accumulate is deprecated](https://github.com/exercism/x-common/issues/129), but I still see it as a todo for Rust.

[2016-04-13 18:47] kytrinyx commented on #76
Rust doesn't have any deprecated problems: https://github.com/exercism/xrust/blob/master/config.json#L39-L41

[2016-04-13 18:58] IanWhitney commented on #76
Ah! We deprecate them by track. I did not get that at all.

If Accumulate is deprecated, should we create an issue for all tracks asking them to deprecate it?

[2016-04-13 19:29] kytrinyx commented on #76
I read through that thread recently, and it didn't feel like we had all come to a conclusion. Once I can figure out what the consensus is I'll submit an issue everywhere.

[2016-04-17 21:41] kytrinyx commented on #84
Closed in #90

[2016-04-17 21:41] #84 closed

[2016-04-17 21:44] kytrinyx commented on #74
Addressed in #104

[2016-04-17 21:50] kytrinyx commented on #16
I'm closing this. If you ever come back to it don't hesitate to reopen it. Cheers!

[2016-04-17 21:50] #16 closed

[2016-04-17 21:51] kytrinyx commented on #75
This is done.

[2016-04-17 21:51] #75 closed

[2016-04-17 22:57] #74 closed

[2016-04-29 22:59] kytrinyx opened #106 "Bug: fetching a new language doesn't actually fetch"
I expected to receive the hello-world problem in javascript when I ran the fetch command, but did not receive anything at all.

[code]

[2016-05-01 11:20] ryanplusplus opened #108 "Error parsing API response for fetch"
I've gotten a few of these lately when executing `exercism f`:

[code]

It's not every time, and I've never had it happen twice in a row. I'd say it's roughly 5-10% over the past 3-4 days.

I currently have the exercism CLI v2.2.1.

I will start fetching with `--verbose` and report back if I get more information.

[2016-05-01 13:13] NobbZ commented on #108
I have this whenever I fetch without specifying the track. Everytime. I
will try to give more feedback about this when back home and not on mobile
anymore.

Ryan Hartlage <notifications@github.com> schrieb am So., 1. Mai 2016, 13:20:

[2016-05-01 14:42] kytrinyx commented on #108
Ahhh, thanks so much for reporting this. This is a problem with a 500 error being returned with an HTML response rather than a JSON response. I'll start hunting this down.

[2016-05-01 17:12] kytrinyx commented on #106
There are two bugs here; one in /v2/exercises/:track_id, and one in the filtering for `/v2/exercises`.

[2016-05-01 17:15] kytrinyx commented on #106
The first one is now fixed.

[2016-05-01 17:42] #106 closed

[2016-05-02 17:34] kytrinyx commented on #108
Wow, @NobbZ, this is literally timing out. I suspect that the response is too big. I've decided to change the way that the fetch API works. Up until now it returns everything that you have submitted, plus one more exercise.

I think the right thing to do is only return the next exercise. If people want to fetch old exercises, they can do so by using the fully specified command, `exercism fetch TRA

[2016-05-02 17:38] ryanplusplus commented on #108
@kytrinyx sounds about right. My fetch has gotten slower and slower as time has gone on.

[2016-05-02 17:46] kytrinyx commented on #108
I'm deploying a fix. Would you keep an eye on this and see if it's still a problem?

[2016-05-02 17:57] ryanplusplus commented on #108
Sure. My fetch takes forever, so let me know once it's deployed and I should be able to tell you right away if it's significantly faster or not.

[2016-05-02 22:42] ryanplusplus commented on #108
I've done a few fetches without error. They're taking ~10 seconds now which is down from ~30 seconds before.

[2016-05-03 00:45] kytrinyx commented on #108
10 seconds is still super, super slow. I have another suspicion about what is going on here... let me collapse from my day and then think about it for a bit.

[2016-05-03 04:55] NobbZ commented on #108
I have about 10 seconds wall-time as well. Even if it is very slow for what
actually happes from my point of view (no new exercises), it is much faster
than before.

Katrina Owen <notifications@github.com> schrieb am Di., 3. Mai 2016 um
02:45 Uhr:

[2016-05-03 23:05] kytrinyx commented on #108
OK, I've been rethinking a few things. I know what's wrong, and after deciding how to fix it (totally possible) I realized that I don't care enough about the feature that the slowness is supporting. I'm going to tear it out and rethink it from the ground up.

Would you check whether or not this speeds things up?

[2016-05-03 23:10] ryanplusplus commented on #108
Just checked, it's now 0.7 seconds. Much improved :)

[2016-05-03 23:10] kytrinyx commented on #108
Haha, yeah a bit. Yay!

[2016-05-03 23:13] #108 closed

[2016-05-09 12:43] joeltaylor opened #109 "Add checklist issue number to config.json"
Now that we've added a "Help Launch" section to upcoming languages, it'd be really nice to link directly to the checklist issue for the course instead of linking with search params [(source)](https://github.com/exercism/exercism.io/blob/master/x/docs/md/track/LAUNCH.md).

We can add the checklist issue number to the config.json and safely default it to 1 since @kytrinyx posts the issue via the API

[2016-05-09 14:18] kytrinyx commented on #109
+100 Thanks for remembering to add this issue.

Here's the list of repositories that have an open "Launch Checklist" issue:

- [ ] assembly    [4] https://github.com/exercism/xassembly/issues/4
- [ ] bash        [4] https://github.com/exercism/xbash/issues/4
- [ ] c           [8] https://github.com/exercism/xc/issues/8
- [ ] coldfusion  [1] https://github.com/exercism/xcoldfusion/issues/1
- [ ] cr

[2016-05-09 14:19] joeltaylor commented on #109
Thanks!

I still need to locate where the `config.json` is generated for new tracks and add `checklist_issue` with the default value of `"1"`.

[2016-05-09 14:21] kytrinyx commented on #109
Here you go: https://github.com/exercism/x-template

[2016-05-11 12:35] joeltaylor commented on #109
I've gone ahead and opened PRs for the above tracks except for those that have a Launch Checklist issue of 1 since we're defaulting to that.

Once this PR and the others are merged, we can move forward with https://github.com/exercism/exercism.io/issues/2875

[2016-05-14 16:26] kytrinyx commented on #109
Bam! We are good to go.

[2016-05-14 16:26] #109 closed

[2016-06-13 12:06] joeltaylor opened #111 "Serve track icon images with basic track data"
There's currently an issue over in exercism.io to remove track images from the repo to their respected track repos (https://github.com/exercism/exercism.io/issues/2925).  The image should be either a `png` or an `svg`.

[2016-06-13 13:47] kytrinyx commented on #111
The image is a PNG, but I'd eventually like to have SVGs instead. See https://github.com/exercism/exercism.io/issues/2910

I was going to post one issue to each track using blazon, which would create the todo list automatically in the parent issue, and it would spread the work out. I haven't had time to catch up with things lately, though.

[2016-06-13 13:50] joeltaylor commented on #111
Just updated the PR that can serve both file types, but I can remove the SVG bit?

Oh, didn't know about blazon. Should I go ahead and remove those todos?

[2016-06-13 13:52] kytrinyx commented on #111
Let's get that blazon issue created first :)

Nah, let's keep the SVG bit—I really do want to have that.

[2016-06-13 14:20] kytrinyx commented on #111
OK, I've sent the blazon thing. Feel free to delete the todo list here.

[2016-06-13 14:26] joeltaylor commented on #111
Cool, that'll make things much easier :grin:

[2016-06-21 03:53] #111 closed

[2016-07-17 20:55] petertseng opened #113 "For tracks with test generators: Should there be a better way to ignore the generator files?"
I know that Ruby and Go have test generators. Sometimes, we want to put files in the `exercises/:slug` directories for various reasons. But we wouldn't want these files to get served to students. We have to use the somewhat hacky way of putting `example` in any generator-related filename to achieve that. That's the most usable ignored pattern in ~~https://github.com/exercism/x-api/blob/master/lib/

[2016-07-18 12:31] kytrinyx commented on #113
This sounds like the easiest approach—it would mean implementing it in one place, and we could put all the files for an exercise (including the generators) in one place.

I also like the separate tree, but it feels a little bit heavy. I'd be curious to hear what others think.

[2016-07-23 19:18] tejasbubane opened #114 "[Discussion] Automate updation of submodules"
Looks like @kytrinyx has to manually update submodules regularly (ref: https://github.com/exercism/xcrystal/pull/21). I was just wondering if we can automate this process so that she doesn't have to remember to do it.

We can have a cron-like thing (using something like [heroku-sceduler](https://devcenter.heroku.com/articles/scheduler)). Just an idea - not sure how feasible this is.

[2016-07-24 20:45] kytrinyx commented on #114
I would love to do this. My problem at the moment is that sometimes people commit things to the tracks that break things.

I guess the right thing to do would be to figure out how to add tests every time a new and exciting way to break the API is discovered, and then only deploy if the tests pass (and perhaps send an email or auto-post an issue or something if they fail).

I'll open a new issue to

[2016-07-24 20:48] kytrinyx commented on #114
For reference, my current, manual process is this:

- `git submodule foreach git pull origin master`
- run the tests, run the config verification, run the metadata verification
- `git commit -m "Update submodules"`
- `git push origin master && git push heroku master`

I do have shortcuts for things, but it's still manual.

[2016-07-24 20:52] kytrinyx commented on #114
And don't you know I already had that test, but on my new system I wasn't set up to automatically run it. Sheesh.

[2016-08-03 00:27] kytrinyx commented on #29
I think that each language-specific repository should have a specific directory, I don't know what it would be called, and that directory could have subdirectories or whatever. It would take whatever is in that directory and stick it in the root.

So, e.g. in xpython:

[code]

Does that make sense?

[2016-08-03 00:28] kytrinyx commented on #29
To clarify, `some-vendored-libary` would end up at the root of the user's exercism/python directory, and if some language wanted to have things end up in `exercism/c/vendor/whatevs` then it would be in `xc/global/vendor/whatevs`

[2016-08-03 00:30] kytrinyx commented on #29
Oh: I also think that the x-api endpoint should zip everything up, and the CLI should unzip it.

We have code that does something similar: https://github.com/exercism/x-api/blob/d153906782d0b77213effed06b392ae98b031295/lib/xapi/implementation.rb

[2016-08-03 07:13] ErikSchierboom commented on #29
@kytrinyx I think having a `global` folder which contents are then put in the root makes perfect sense! It's easy to grasp and very useful. Just to be clear, any files in the root of the `global` directory would also be placed in the root?

<pre>
.
├── LICENSE
├── README.md
├── docs/
│   ├── ABOUT.md
│   ├── ...
│   └── img
├── exercises/
│   ├── accumulate
│   ├── acronym
│   ├── ...
│   └── zebr

[2016-08-03 07:30] ramyaravindranath commented on #29
@ErikSchierboom : Just wondering if you are working on implementation side ? I started looking into it. If you have already started I am happy to leave that for you :)

[2016-08-03 07:46] ErikSchierboom commented on #29
@ramyaravindranath No I wasn't, be my guest!

[2016-08-03 09:16] Insti commented on #113
I'd like to see the generators living under the exercises & the api can just ignore subdirectories.
[code]
(I'd also like to enable multiple solutions to be called something sensible like `hello_word_golfed.eb` `hello_world_best_practices.rb` rather than `example.rb` as a way of being able to document different approaches to solving a problem but that may be off-topic here.)

[2016-08-04 00:58] ramyaravindranath commented on #29
Thanks! @kytrinyx:  I am working on this issue.

[2016-08-04 02:37] kytrinyx commented on #29
Yepp, that's what I was thinking. And recursively, any subdirectories.

[2016-08-04 02:39] kytrinyx commented on #29
To clarify, are you asking how to get a random `run.sh` file to get delivered to

[code]

?

If so, then the way to do that is to put it in `xpython/exercises/hamming/run.sh`.

[2016-08-04 02:40] kytrinyx commented on #29
Aaah, wait, I see what you mean. If ALL the exercises needed the same file, would there be a way to do that?

I guess we could. Has the need come up, though?

[2016-08-04 06:56] ErikSchierboom commented on #29
@kytrinyx Come to think of it, not really. Just ignore that one. The global files will do perfectly fine!

[2016-08-05 13:23] Insti opened #118 "Tests: Sensitive to local filesystem file ordering."
I recently checked out a clean version of the repository.
When I ran the tests 4 failed.
This was due to file ordering being different.

2 looked ok:
[code]

[code]

2 looked a bit scarier (and are the same bug.) returning a different `doc_format`

[code]

[code]

**Sugested actions**
1) Ensure that the result of reading a group of files is sorted before further processing. This should ensure that

[2016-08-05 13:24] Insti opened #119 "Tests: Coveralls and Simplecov disagree."
Coveralls reports 56% coverage.
Simplecov reports 97% coverage.

Why the discrepancy? I suspect the Simplecov figure is correct, and there is something wrong in the Coveralls configuration but have not done enough research yet to be certain of this.

[2016-08-05 18:57] kytrinyx commented on #29
Awesome, we'll start there and see how it goes.

[2016-08-05 19:24] kytrinyx commented on #119
We run `- CI=1 bundle exec rake test:each` for CI, and my guess is that test:each doesn't get a good aggregate.

I'm submitting a PR with a suggested change.

[2016-08-05 19:29] kytrinyx commented on #119
OK, we'll see if the coverage on that PR looks any better.

[2016-08-05 19:33] kytrinyx commented on #118
Yeah, we've run into this before—linux (CI) vs mac (my dev environment).

I tend to fix it by sorting in the tests explicitly.

It's supposed to figure out whether the docs/* are in markdown or orgmode. There are tests for that, but I make no guarantees beyond that.

They're all going to be either 'md' or 'org'. I'm sure at some point we could mistakenly have a mix, but I don't think it's likely.

[2016-08-05 19:50] #119 closed

[2016-08-05 20:19] kytrinyx commented on #113
That's an interesting approach to it. There's an epic discussion about the topic in https://github.com/exercism/exercism.io/issues/2803 - would you post that suggestion there?

I like that.

[2016-08-05 21:40] Insti commented on #118
Choose the most popular?
[code]

[2016-08-05 21:45] Insti commented on #118
It's currently only(?) used to work out what the name of the file to edit is at the bottom of the track documentation on the exercism.io site.

[2016-08-05 21:47] kytrinyx commented on #118
We also use it to convert the org files to markdown before submitting them to the site via the API, I believe.

[2016-08-05 21:50] Insti commented on #118
There's a another different bit of code for that :confused:

[2016-08-05 21:53] kytrinyx commented on #118
Ah. Hm. This code base isn't actually terrible, but there sure are some weird corners.

Yeah, that seems reasonable.

[2016-08-06 00:16] #118 closed

[2016-08-11 08:38] Insti commented on #31
exercism/x-common#69 and #46 are both closed.

exercism/exercism.io#1931 has a cyclic dependency with this issue.

Can we close them both?

[2016-08-11 14:43] kytrinyx commented on #31
This is specifically to deliver a `README.md` in the root of the exercism/TRACK_ID directory for the user when they fetch code.

We have to write code to do that.

Once https://github.com/exercism/x-api/issues/29 is completed, this issue will be trivial to complete.

We can close exercism/exercism.io#1931 in favor of this one.

[2016-08-11 19:10] Insti commented on #31
Closed https://github.com/exercism/exercism.io/issues/1931 and adding a reminder here for another part of the task:

kytrinyx wrote:

[2016-08-22 08:53] Insti opened #127 "Documentation: Readme.md - metadata is x-common"
Add documentation that makes it clear somehow that the `metadata` subdirectory is actually the exercism/x-common repository.

[2016-08-22 08:57] Insti opened #128 "Documentation: Intro to Git submodules."
Add an introduction to git submodules.

Submodules are an aspect of git that many people will not have encountered before.
Add some basic documentation about them and how they are used in the x-api repository to Readme.md

(Or maybe Contributing.md is a better place? - Discuss.)

[2016-08-22 08:58] Insti commented on #128
This could be a good first patch **especially** if you don't know anything about git submodules.
Learn about them and write what you just learned!

[2016-08-22 09:09] Insti opened #129 "Discussion: Rename metadata to common"
While looking into https://github.com/exercism/x-common/issues/269 and what needs to change in x-api  if we move the x-common files it was not really clear that the `metadata` path was a link to the `x-common` repository. (See also #127 about documenting this.)

I propose that we rename the `metadata` directory to `common` to match the current usage and repository naming.

[2016-08-22 10:08] Insti opened #130 "Documentaton: Move track contributing documentation to x-common"
The `Track Anatomy` section of the [CONTRIBUTING.md](https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md#track-anatomy) would be better covered within the x-common repository.

And then the language track READMEs could direct people there, which is now a more useful place than the x-api repository for people interested in language tracks and problems.

[2016-08-22 10:20] Insti opened #131 "Add MIPS submodule"
I saw something recently that made me think that the MIPS track was ready to go live, but the https://github.com/exercism/xmips repository is not yet included as a git submodule here.

(Maybe that's part of the process? More documentation on this would be nice.)

[2016-08-22 10:48] Insti commented on #129
Or move it to 'tracks/common' and get it out of the root directory completely.

[2016-08-22 12:36] Insti opened #132 "Update API to match new x-common file locations."
https://github.com/exercism/x-common/issues/269 proposes re-organising the way the files are stored in the x-common repository.

The API needs to be updated to look for files in the new locations and fall back to using the old
locations if they are not found.

Hints:

The x-common repository is included as a git submodule called `metadata` in the x-api repository.

Files that reference the metadat

[2016-08-22 12:38] ramyaravindranath commented on #132
@kytrinyx  I am looking into this.

[2016-08-22 12:43] Insti commented on #132
There is a current PR about moving the files: https://github.com/exercism/x-common/pull/351

To test the API with these changes applied you can do this from the x-api directory:
[code]

[2016-08-22 23:05] kytrinyx commented on #130
To clarify, do you mean that this could be moved from the x-api contributing guide to the x-common one?

[2016-08-23 05:57] Insti commented on #130
Yes.

It is relevant to the x-api code, but x-api already needs to be aware of x-common, and those working on x-common for the most part have no reason to care about the details of what goes on in x-api.
It would be better to refer x-api users to the x-common documentation.

[2016-08-23 06:15] Insti commented on #131
It was added here: https://github.com/exercism/x-api/commit/0534a68e94bae784d9d74b6ad80e89b0b0612c9f

[2016-08-23 06:17] Insti commented on #131
Not sure why it wasn't showing up for me, maybe it wasn't pushed yet?

Process documentation is still needed though.

[2016-08-23 06:17] #131 closed

[2016-08-25 17:27] kytrinyx commented on #128
I think it makes sense to put these in the Contributing Guide. It looks like maybe we have some overlap between the README and the Contributing Guide—maybe we need a separate issue to sort that out.

[2016-08-25 17:29] kytrinyx commented on #129
I think that makes sense.

I don't really want it in tracks because it's not a track. I can see how it would make sense with tracks/common... sort of :) But it would also potentially be harder to scan the `tracks/` directory and know what you're doing, and we'd have to have special logic to _not_ treat it as a track.

[2016-08-25 17:31] kytrinyx commented on #130
Yeah, that makes sense. Let's do it.

[2016-08-25 17:32] kytrinyx commented on #131
Yeah, definitely.

It was live on the site under "upcoming tracks", now it's listed as an active track.

[2016-08-27 18:30] kytrinyx opened #134 "Deprecate "problems" key in config.json"
For the past three years, the ordering of exercises has been done based on gut feelings and wild guesses. Over time this has proven to work OK-ish, but it's not great. In order to have the ability to support a more structured and systematic approach to ordering problems, we're going to deprecate the simple array of problem slugs in the `config.json` file of each track, and start using a new format

[2016-08-31 13:38] alexcameron89 opened #135 "Provide categories to tracks"
This is from a discussion on the [Exercism website repository](https://github.com/exercism/exercism.io/pull/3086):

@kytrinyx would the best approach for sectioning out tracks by category be to add category paths to the tracks route? Example: `get '/tracks/active'`, etc.

[2016-09-02 15:15] kytrinyx commented on #135
The categorization that we've been using has been:

- active ("active" flag `true` in the config.json)
- upcoming ("active" flag `false`, and there is at least one exercise)
- planned ("active" flag `false`, and no exercises)

Perhaps we could add a new field `status` to the track which is one of ["active", "upcoming", "planned"]. Let's not touch the existing fields yet, in case they're used in wa

[2016-09-06 14:14] kytrinyx commented on #96
Oh, I already did this: http://x.exercism.io/v3/problems/data-todos

[2016-09-06 14:14] #96 closed

[2016-09-07 00:35] kytrinyx commented on #76
I've asked about posting to all the tracks about deprecating accumulate. https://github.com/exercism/x-common/issues/129#issuecomment-245139276

I believe this issue is taken care of.

[2016-09-07 00:35] #76 closed

[2016-09-08 00:54] ramyaravindranath commented on #95
@kytrinyx I am looking into this.

[2016-09-08 01:02] kytrinyx commented on #95
Thanks!

[2016-09-08 05:26] ramyaravindranath commented on #134
@kytrinyx Looking into this.

[2016-09-09 18:57] #95 closed

[2016-09-13 20:29] nickborromeo commented on #127
@Insti can we close this out? 😄

[2016-09-21 04:12] jtigger commented on #113
How about filtering any file whose path contains more than zero path parts that (start with '.' and length > 2)?

served:
./hello-world/src/test/java/HelloWorldTest.java
./hello-world/src/main/java/HelloWorld.java

filtered:
./hello-world/src/.examples/java/HelloWorld.java
./hello-world/src/.testgen/java/GenHelloWorldTest.java
./hello-world/src/main/java/.todo.txt

[2016-09-21 07:37] NobbZ commented on #113
@jtigger What exactly do you mean by "length > 2"? I do not see any sense in serving ".f" but not ".foo", either serve all or none dotted files/folders.

[2016-09-21 12:06] jtigger commented on #113
Yeah, no.  Scratch that part.  I should have just said, "any path part that starts with a dot."

[2016-09-21 20:38] kytrinyx commented on #134
Addressed in https://github.com/exercism/x-api/pull/137

[2016-09-21 20:38] #134 closed

[2016-09-21 20:53] kytrinyx opened #139 "Support global deprecation of exercises"
We sometimes decide to stop supporting an exercise.

That means that:

- Each track that has implemented it should add it to the `deprecated` list in the `config.json` file so that it doesn't get delivered automatically when people `exercism fetch` exercises.
- The exercise should not show up in the "to be implemented" list for the other language tracks

In order to do this, we're going to add an

[2016-09-22 05:06] ramyaravindranath commented on #139
PR for the issue https://github.com/exercism/x-api/pull/140.

[2016-09-28 09:31] Insti commented on #127
Yes we can, thanks @nickborromeo

[2016-09-28 09:31] #127 closed

[2016-09-29 15:00] #132 closed

[2016-09-29 15:00] kytrinyx commented on #132
Fixed in #133

[2016-10-01 22:38] #139 closed

[2016-10-02 17:38] kytrinyx commented on #113
We've explicitly included files starting with dots. There was a bug at some point where these files were excluded, and we apparently need them. I don't recall which track(s) use this.

[2016-10-02 19:25] jtigger commented on #113
Well that's a bummer.  Was hoping to leverage the fact that these are hidden files in *nix OSes. :-/

* a number of tracks use `.keep` files to ensure the directory is delivered (notably, `kotlin`, `java`, and `scala`
* `ocaml` includes `.merlin` files
* `ruby` and `powershell` include `.version` files
* `haxe` includes a few `.munit` files

[2016-10-02 19:47] kytrinyx commented on #113
I don't think `.keep` matters. In Ruby we use `.version` for the generated tests, so I think that's fine. I'm not sure whether Powershell uses them for a different purpose.

Maybe it was haxe or ocaml. Or maybe I dreamt it.

[2016-10-02 20:01] jtigger commented on #113
Same concept: a double-underscore?

[code]

right now, in x-api:
[code]

[2016-10-02 20:48] kytrinyx commented on #113
Love it, @jtigger!

[2016-10-02 21:24] jtigger commented on #113
Question: would you want to replace the "example" filter with this one? or filter out both patterns?

[2016-10-03 02:05] kytrinyx commented on #113
I'm not sure. I'm worried that we'd run into language-specific snarls, and would rather filter out both patterns.

[2016-10-03 05:35] Insti commented on #113
How about just a single directory called `meta` or `.meta` to exclude? It could contain all the meta stuff like example solutions and generators, and everything else can be returned as the exercise files.

[2016-10-03 17:49] kytrinyx opened #141 "Refactor APIs to use the Trackler gem"
Right now the exercism.io is jumping through loops to call the x-api endpoints in order to display track and exercise data. This is pretty slow, and it's also a bit of a mess.

We've extracted the core track and exercise logic into a new gem, [trackler](http://github.com/exercism/trackler), so that we can use the same code in both exercism.io and x-api efficiently.

The TL;DR is that we need to sw

[2016-10-04 01:35] kytrinyx commented on #113
I like the `.meta` suggestion, @Insti.

[2016-10-04 09:56] jtigger commented on #113
I like it too.  I was trying to come up with a general approach (especially being able to mark individual files, regardless of location).  But honestly, I can't come up with a real world use-case.

I like that `.meta` says what it is.  (rather than something like `.skip` (i.e. opposite of `.keep`) which says how it should be treated.

[2016-10-05 00:23] chischaschos commented on #130
Hi, would these PRs work?. Please let me know if it needs any change or If I misunderstood something.

[2016-10-05 05:11] Insti commented on #130
Those look good @chischaschos , Thanks.

[2016-10-17 00:12] #141 closed

[2016-10-26 23:30] mixolidia commented on #130
@kytrinyx should this be closed?

[2016-10-27 06:38] #130 closed

[2016-11-25 21:39] kytrinyx commented on #135
No, we no longer need this, as we've solved it in the `Trackler` gem. Thanks for pinging on the issue!

[2016-11-25 21:39] #135 closed

[2016-11-26 16:45] Insti opened #145 "Replace deprecated Trackler methods."
The following Trackler::Problem methods have been renamed and need to be replaced by the methods that these wrappers call:

[code]

See: https://github.com/exercism/trackler/pull/6#pullrequestreview-10207767

[2016-11-28 07:32] rbasso commented on #29
In the Haskell track we have each exercise as a self-contained project, and this forces us to replicate configuration files.

It would be great if we could put the common files in a single folder!

From a more abstract point of view, one could think of an exercise as a **union** of a `common` and a `specific` directory structures:

[code]

An **specific-biased union** would be perfect, favoring th

[2016-11-30 21:14] kytrinyx opened #146 "Remove special-casing for hello-world"
If you start on a language track before someone implements a `hello-world` exercise for the track, then we've previously skipped the `hello-world` exercise. This is because the hello-world problem is intended to be trivially easy, and to just make sure that you get everything wired together correctly.

The result of this was that people who had started a track before hello-world was implemented wo

[2016-12-04 19:09] #145 closed

[2017-01-04 12:20] petertseng commented on #113
Closed by https://github.com/exercism/trackler/pull/4

[2017-01-04 12:20] #113 closed

[2017-04-04 15:58] kytrinyx opened #150 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-05 17:36] kytrinyx commented on #150
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-20 07:11] petertseng commented on #113
This was done in https://github.com/exercism/trackler/pull/33.

[2017-04-20 07:23] Insti commented on #113
This should probably be documented somewhere. Where is the right place?

[2017-04-20 07:28] Insti commented on #113
It probably should be where the `<track>/config.json` file is documented, but I cannot find that.

[2017-04-21 04:17] kytrinyx commented on #113
We've got smatterings of documentation spread out in several places. We're totally missing an actual bit of documentation about the config.json.

I opened an issue about documenting it: https://github.com/exercism/docs/issues/12

[2017-04-27 16:33] hilary opened #152 "Documentation: Contributing TOC links to missing sections"
The TOC for the [CONTRIBUTING](https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md) Guide contains entries for

* config.json
* configlet
* Problem API
* Track Anatomy

none of which is in the Guide. While the Track Anatomy entry links to its new location in x-common, the other three links are ghost links.

Should those links be removed, or should sections on those topics be added? I'd b

[2017-04-27 17:59] Insti commented on #152
`config.json` should be documented somewhere else.  - Delete
`configlet` I think lives somewhere else now - Probably Delete
`problem API` sounds like something that should be here. - Keep but check it is still relevant.
`Track Anatomy` should be documented somewhere else - Delete

[2017-05-12 17:25] tejasbubane commented on #114
I don't think we have an automation solution. Also the submodules have been [moved to `trackler` now](https://github.com/exercism/trackler/tree/master/tracks). I guess I should give this a close. If we think of a solution or want to discuss, we should create an issue in trackler instead.

[2017-05-12 17:25] #114 closed

[2017-05-16 15:35] kytrinyx commented on #152
I think if the _problem API_ is a dead link, go ahead and delete it. If we find that we need detailed documentation about x-api, it should live in the x-api repo, and if we're missing high-level documentation about x-api, it should probably live in the architecture overview in the docs repo.

[2017-05-19 18:17] kytrinyx commented on #114
I've mostly automated this. I have a script that I have to kick off which updates and deploys everything.

I run it most days (barring complicated travel or personal life making it very difficult to get to a computer).

I don't want to put it on a cron job since it sometimes blows up in unexpected ways. I'm pretty happy with the current level of automation, though.

[2017-05-24 15:49] kytrinyx commented on #150
We don't need it.

[2017-05-24 15:49] #150 closed

[2017-05-28 14:03] Illoric opened #156 "(Swift) Hello-World testcase error"
Hello! While this is related to the entry level exercise, I'm raising this concern in case it also is mirrored across the remaining Swift exercises which I have yet to venture into. I had an issue with the test file missing the parameter reference in the function call which caused issues with the test cases themselves (i.e. hello("bob") instead of the required hello(parameter: "bob")). Once I adde

[2017-05-28 15:25] mhinz commented on #156
CC @exercism/swift

[2017-05-28 16:16] masters3d commented on #156
Swift uses enforced labels on the declaration side so if you do declare a label on the definition, the compiler will try to help you but suggesting a fix it on the call site. Just use an underscore on the definition. Skim over the swift manual.

let me know if you have any issues on the swift repo. https://github.com/exercism/xswift/blob/master/exercises/hello-world/Sources/HelloWorldExample.swift

[2017-05-28 16:25] kytrinyx commented on #156
@Illoric Once you figure this out, would you be willing to help suggest an improvement to the "getting started" documentation for Swift?

It lives here: https://github.com/exercism/xswift/blob/master/docs/TESTS.md
and is displayed on the site here: http://exercism.io/languages/swift/tests

[2017-05-28 18:51] Illoric commented on #156
@masters3d Thank you! It appears I glanced over this bit of magic previously.

@kytrinyx Overall, I think the documentation was quite helpful. This "issue" could've been avoided with some further due diligence on my part :). However, I would be happy to contribute to documentation updates/improvements.

[2017-05-28 22:30] kytrinyx commented on #156
@Illoric Excellent. If you do have suggestions or tweaks, please submit them in the xswift repository. ✨

[2017-05-28 22:30] #156 closed

[2017-08-20 15:22] Radix16 commented on #152
I recently implemented an exercise in the Javascript track.   The toughest part of implementing the exercise was tracking down the information to complete the config.json file.   I found the repository for the configlet tool.  However, I was unable to find any comprehensive documentation for what belonged in the config.json.   I agree with @hilary.   These topics should contain entries or at least

[2017-08-20 15:28] kytrinyx commented on #152
@Radix16 We're trying to figure out how to organize all of our documentation. The documentation that would probably have been helpful to you is https://github.com/exercism/docs/tree/master/language-tracks/configuration

[2017-08-20 15:28] kytrinyx commented on #152
Agreed—we should figure out where people look, and link to the real documentation from there.

[2018-10-03 19:44] #152 closed

[2018-10-04 22:30] #29 closed

[2018-10-04 22:30] #31 closed

[2018-10-04 22:30] #45 closed

[2018-10-04 22:30] #128 closed

[2018-10-04 22:30] #129 closed

[2018-10-04 22:30] #146 closed